/* mobile first,
El codigo que no esta en el media se aplica a todos los dipositivos, 
pero empezamos a diseñar primero para dispositivos mas pequeños 
como los celulares y vamos incrementando el tamaño hasta que llegue a
los dispositivos mas grandes como las computadoras de escritorio
*/
/* 
IMPORTANTE
PONER EN TODOS LOS HTML COMO PRIMER ELEMENTO DE ESTILOS EN EL HEAD.
ES PARA ELEMENTOS QUE SE UTILIZAN EN TODA LA PAGINA O EN SU MAYORIA
*/
body {
    font-family: Inter;
    font-size: 1rem;
}

sup {
    font-size: 0.8rem;
}

.header__container {
    background-image: url('../images/banner_background.png');
    background-size: cover;
    background-position: center;
}

.navbar__container__menu {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
}

.navbar__container__logo img {
    width: 14rem;
    height: 2.3rem;
}

.hamburguer__button img {
    width: 2.3rem;
}

.offcanvas-logo__bdm {
    width: 14rem;
    height: 1.7rem;
}

.offcanvas {
    padding: 1.4rem 1rem;
    height: 30rem !important;
}

.offcanvas-body {
    width: 100%;
}

.offcanvas-body__content {
    margin: 1rem 0 1rem 0;
    padding: 0.6rem 0;
    border-bottom: 0.1rem solid #939393;
}

.offcanvas-body__content a, .offcanvas-body__content span {
    color: #939393;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.causas__container {
    padding: 0.6rem 0;
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.causas__container__item {
    padding: 0.6rem 0.4rem;
    
}
.causas__container__item a{
    font-size: 0.9rem;
}
.causas__container.open {
    display: block;
    max-height: 500px; 
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}