/* mobile first,
El codigo que no esta en el media se aplica a todos los dipositivos, 
pero empezamos a diseñar primero para dispositivos mas pequeños 
como los celulares y vamos incrementando el tamaño hasta que llegue a
los dispositivos mas grandes como las computadoras de escritorio
*/
.header__container__text p {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.first__section__container_hongos {
    display: flex;
    flex-direction: column;
}

.first__section__content__text p {
    color: #FFF;
    font-family: Inter;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.first__section__content__text {
    background-color: #7666EA;
    padding: 4rem 2.3rem;
}

.first__section__content__image img {
    width: 100%;
    height: 100%;
}



.second__section__container__hongos {
    padding: 3rem 2rem;
    background-color: #9794EB;
    color: #FFF;
}
.second__section__content__title {
    padding: 2.3rem 2.2rem 1.7rem 2.2rem;
}

.second__section__content__title h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.second__section__content__title p {
    color: #FFF;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.second__section__content__cards {
    margin: auto;
}

.second__section__card {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.07) 100%);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 1rem;
}

.second__section__card p {
    color: white;
}

.last__cards {
    max-width: none;
}

@media (min-width: 768px) {
    .first__section__container_hongos {
        flex-direction: row;
    }

    .first__section__content__text {
        width: 53%;
    }

    .first__section__content__image {
        width: 47%;
    }

    .first__section__content__image img {
        object-fit: cover;
    }

    .second__section__content__title h2 {
        text-align: center;
        font-size: 2rem;
    }

    .second__section__card {
        height: auto;
        aspect-ratio: 3 / 2;
    }

}

@media (min-width: 1024px) {
    .header__container__text p {
        font-size: 1rem;
    }


    .first__section__container_hongos {
        background-color: #7666EA;
    }

    .first__section__content__text {
        margin: auto;
        padding: 4rem 5rem;
    }

    .first__section__content__text p {
        font-size: 1rem;
    }

    .second__section__content__title h2 {
        text-align: left;
        font-size: 2rem;
    }

    .second__section__card {
        margin: 1rem 0.5rem;
        width: 27vw;
    }

    .last__cards {
        width: 41.33vw;
        height: 15rem;
    }

}

@media (min-width: 1200px) {
    .header__container__text p {
        width: 50rem;
    }
    .second__section__card p {
        font-size: 1.3rem;
    }

}

@media (min-width: 1400px) {

    .first__section__content__text {
        padding: 4rem 7rem;
    }

    .first__section__content__text p {
        font-size: 1.3rem;
    }

    .second__section__content__title h2 {
        font-size: 3rem;
        text-align: left;
    }
    .second__section__content__title {
        padding: 2.3rem 2.2rem 1.7rem 4.2rem;
    }
    .second__section__content__cards {
        margin: 0;
        width: 100%;
    }
    .second__section__card {
        margin: 1rem 0.6rem;
        width: 30%;
    }

    .last__cards {
        width: 45.5%;
        height: 15rem;
    }
}