
body {
    color: #FFF;
}

.header__container__text p {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__container__text br {
    display: none;
}

@media (min-width: 1024px) {
    .header__container__text p {
        font-size: 1rem;
    }

}

@media (min-width: 1200px) {
    .header__container__text p {
        width: 50rem;
    }

    .container__ruleta {
        width: 50%;
    }

    .descripcion__ruleta {
        order: 0;
        width: 50%;
    }

    .header__container__text br {
        display: block;
    }
}
.contenedor-ruleta {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9794EB;
    padding: 65px 50px;
    gap: 30px;
}

.contenedor-ruleta-izquierda {
    width: 49%;
    height: 300px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #7666EA;
    padding: 30px;
    color: white;
    font-family: "Inter", sans-serif;
}


.contenedor-ruleta-derecha {
    margin: 0;
    padding: 0;
    width: 49%;
    background: #9794EB;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container-ruleta {

    width: 80vw;
    height: 80vw;
    max-width: 525px;
    max-height: 525px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    overflow: hidden;
    
}

.container-ruleta div {
    height: 50%;
    width: 100%;
    position: absolute;
    clip-path: polygon(75% -1%, 50% 99%, 0% 0%);
    transform: translate(-50%);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.habituales {
    padding: 50px;
    border-radius: 30px;
    background: #7666EA;
    color: white;
    height: 342px;
}

.bloque {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.bloque.activo {
    display: block;
    opacity: 1;
    visibility: visible;
    position: relative;
}
.subcontenedor {
    height: auto;
    overflow: hidden;
    position: relative;
}
.subcontenedor {
    padding-bottom: 50px;
}

.one p {
    transform: rotate(28deg) translate(-40px, -13px);
}

.two p {
    transform: rotate(-45deg) translate(15px, -35px);
}

.three p {
    transform: rotate(245deg) translate(55px, -14px);
}

.four p {
    transform: rotate(172deg) translate(20px, 46px);
}

.five p {
    transform: rotate(100deg) translate(-40px, 40px);
}

@media (min-width: 1270px) and (max-width: 1280px) and (min-height: 750px) and (max-height: 800px) {
    .container-ruleta .one {
        transform: rotate(2deg);

    }
}

.container-ruleta .one {
    background-color: #9794EB;
    transform: rotate(333.2deg);
}


.container-ruleta .two {
    background-color: #9794EB;
    transform: rotate(45.2deg);
}



.container-ruleta .three {
    background-color: #9794EB;
    transform: rotate(117.2deg);
}



.container-ruleta .four {
    background-color: #9794EB;
    transform: rotate(189.2deg);
}


.container-ruleta .five {
    background-color: #9794EB;
    transform: rotate(261.2deg);
}

.container-ruleta div:hover {
    background-color: white;
    color: #9491EB;
    cursor: pointer;
}

.container-ruleta .active {
    background-color: white;
    color: #9491EB;
}

.container-ruleta p {

    width: 100px;
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#spin {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 20vw;
    max-width: 202.129px;
    max-height: 202.129px;
    background-color: #7666EA;
    border: 6px solid #fff;
    border-radius: 50%;
    color: white;
    color: #FFF;
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.contenedor-alerta {
    background-color: #9794EB;
    padding: 80px 100px;

}
@media (max-width:1283px) {
    
    .contenedor-ruleta {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        padding: 40px 0;
    }

    .contenedor-alerta {
        display: flex;
        justify-content: center;
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        height: 10vh;
        padding: 50px 32px;

    }

    .custom-button.amarillo {
        height: auto;
        width: 300px;
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    .custom-button.amarillo svg {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        display: flex;
        margin-bottom: 10%;
        margin-right: 3%;
    }

    .custom-button.amarillo p {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 286px;
    }

    #spin {
        font-size: 12px;
    }

    .contenedor-ruleta-derecha {
        width: 100%;

    }

    .contenedor-ruleta-izquierda {
        height: 100%;
        max-height: 500px;
        width: 70%;
    }

    .one p {
        transform: rotate(26deg) translate(-40%, -40%);
    }

    .two p {
        transform: rotate(-47deg) translate(27%, -97%);
    }

    .three p {
        transform: rotate(243deg) translate(50%, -20%);
    }

    .four p {
        transform: rotate(170deg) translate(20%, 100%);
    }

    .five p {
        transform: rotate(99deg) translate(-37%, 100%);
    }

}

@media (max-width: 500px) {
    #spin {
        height: 133px;
        width: 133px;
        font-size: 14px;
    }

    .container-ruleta div p {
        font-size: 0.6rem;
    }

    .one p {
        transform: rotate(26deg) translate(-30%, -40%)
    }

    .two p {
        transform:rotate(-45deg) translate(12%, -232%);
    }

    .three p {
        transform: rotate(243deg) translate(33%, -20%)
    }

    .four p {
        transform:rotate(170deg) translate(15%, 124%)
    }

    .five p {
        transform: rotate(99deg) translate(-25%, 75%)
    }
}
